@mixin flexCenter($direction,$justify: null,$align: null){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin buttonStyle{
    button{
        background: none;
        border: none;
    }
}

@mixin h2-style($size,$weight,$margin,$color: null){
    h1,h2{
        font-size: $size;
        font-weight: $weight;
        margin-block-end: $margin;
        color: $color;
    }
}
