@use "variables";
@import "mixins";

nav {
  @include flexCenter(row,space-between,center);
  width: auto;
  max-width: 1400px;
  height: 6vmax;
  max-height: 70px;
  padding: 0 60px 0 85px;
  margin: 32px auto 65px;

  p {
    font-size: 3rem;
    &:hover{
        cursor: pointer;
    }
  }

  .icons {
    display: inherit;
    gap: 40px;
    align-items: start;

    .navigation {
      background-color: transparent;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
